# Credentials file for accessing restricted datasets
#
# This is a shell script that exports usernames and passwords needed
# to access different data archives so that datasets can be downloaded
# automatically..
#
# To use, copy ./credentials.example to ./credentials and fill
# in the details, after having registered with each of the services.
# Registration is free to UK-based academics: for others there may
# be different licencing terms.
#
# Since it's a breach of the licence terms to share credentials with
# others, do not commit the completed file to version control.

# Centre for Ecology and Hydrology account (https://catalogue.ceh.ac.uk)
export CEH_USERNAME=
export CEH_PASSWORD=

# Centre for Environmental Data Analysis account (https://data.ceda.ac.uk)
export CEDA_USERNAME=
export CEDA_PASSWORD=
